nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border-radius: 5px;
}

nav ul li {
    float: inline-start;
    display: flex;
    margin: 30px 20px;
    margin: 0;
}

nav a {
    text-decoration: none;
    color: black;
    background-color: lightseagreen;
    border-radius: 15px;
    margin: 10px 5px 30px 5px;
    padding: 15px 50px;
    transition: 0.1s ease;
    border: 2px solid black;
    border-bottom: 5px solid black;
    font-family: Arial;
}

nav a:active {
    background-color: rgb(6, 107, 138);
    color: white;
    transform: scale(0.95);
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: lightcyan;
    padding: 0;
}

header {
    text-align: center;
    margin: 20px 0;
    background-color: rgb(53, 247, 237);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    height: 250px;
}

header h2 {
    margin: 0;
    font-size: 2em;
    color: rgb(7, 20, 20);
}

header p {
    font-size: 1.2em;
    color: rgb(14, 44, 44);
    margin-top: 10px;
}

h1 {
    font-family: Arial;
    border-left: 4px solid rgb(58, 47, 47);
    padding: 10px;
    margin-left: 10px;
}

.tec {
    border: 2px solid black;
    width: fit-content;
    border-radius: 10px;
    padding: 10px;
    margin: auto;
    transition: background-color 0.2s, color 0.2s, transform 0.2s;
}

.tec:hover {
    background-color: lightseagreen;
    color: white;
    transform: scale(1.50);
    transition: 0.2s ease;

}

header img {
    width: 100px;
    height: auto;
    margin-top: 10px;
    align-self: center;
}

header img:hover {
    margin: 30px;
    transform: scale(1.5);
    transition: 0.2s ease;
}

#calculadora {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 24px;
    max-width: 340px;
    margin: 40px auto;
    background: #45d8a0;
    padding: 32px 24px;
    border-radius: 12px;
    box-shadow: 0 2px 16px #0008;
}

#resultado {
    background: #c9888866;
    border-radius: 8px;
    padding: 16px;
    margin-bottom: 8px;
}

#operadores {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

#operadores label {
    margin-bottom: 2px;
    font-weight: bold;
}

#operadores input {
    padding: 6px;
    border-radius: 4px;
    border: 1px solid #1f0b0b;
    background-color: rgb(85, 80, 80);
    margin-bottom: 8px;
    color: #ffe0e0;
}

#operadores button {
    padding: 10px;
    border: none;
    border-radius: 6px;
    background-color: rgb(85, 80, 80);
    color: #7cd11b;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.2s;
}

#operadores button:hover {
    background: #ffe0e0;
}

.calculadora h2 {
    text-align: center;
    color: black;
}

.calculadora p {
    text-align: center;
    color: black;
    font-weight: bold;
    font-size: large
}

#descricao {
    margin-bottom: 20px;
    border: 2px solid black;
    border-radius: 10px;

}

.site {
    background-color: #45d8a0;
    justify-content: flex-start;
    padding: 20px;
    width: 93.4vh;
    display: flex;
    flex-direction: column;
    border: 2px solid #1f0b0b;
    margin-left: 0;
    border-bottom: 0;
    border-left: 0;
    font-size: 1.3em;
    transition: all 0.3s ease;
}

.site:hover {
    box-shadow: 4px 4px 15px #0003;
    background-color: #2f946d;
    color: white;
}

.sobreSite {
    background-color: #45d8a0;
    padding: 20px;
    justify-content: flex-start;
    display: flex;
    width: 93.4vh;
    flex-direction: column;
    border: 2px solid #1f0b0b;
    margin-left: 0;
    border-left: 0;
    font-size: 1.3em;
}

.sobreSite:hover {
    box-shadow: 4px 4px 15px #0003;
    background-color: #2f946d;
    color: white;
}

.imgSite {
    padding: 20px;
    width: 104.vh;
    height: auto;
    justify-content: right;
    text-align: right;
    align-items: right;
    align-self: right;
    margin-left: 100vh;
    margin-top: -153.5vh;
    background-color: #45d8a0;
    border: 2px solid #1f0b0b;
    height: 146.6vh;
    border-right: 0;
    border-left: 0;
}

.imgSite:hover {
    box-shadow: 4px 4px 15px #0003;
    background-color: #2f946d;
}

.imgSite img {
    width: 98%;
    height: auto;
    box-shadow: 2px 2px 12px #0002;
    margin: 10px;
    display: flex;
    border-radius: 10px;
}

.mps {
    display: flex;
    flex-direction: column;
    background-color: rgb(59, 199, 255);
    margin: 20px;
    border-radius: 20px;
    padding: 10px 10px 10px 10px;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.603);
}

.mps h2 {
    color: black;
    font-size: 2em;
    border: 2px solid black;
    margin: -10px -10px 10px -10px;
    padding: 20px;
    letter-spacing: 1px;
    box-sizing: border-box;
    background: inherit;
    border-radius: 20px 20px 0 0;
    border-bottom: 3px solid black;
    text-align: center;
}

.mps p {
    font-size: 1.2em;
    color: rgb(7, 20, 20);
    line-height: 1.6;
    text-align: justify;
    margin: 10px;
}

.mps img {
    width: 30%;
    height: auto;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 12px #0002;
}

.imagens {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}