nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border-radius: 5px;
}

nav ul li {
    float: inline-start;
    display: flex;
    margin: 30px 20px;
    margin: 0;
}
nav a {
    text-decoration: none;
   color: black;
   background-color: lightseagreen;
   border-radius: 15px;
   margin: 10px 5px 30px 5px;
   padding: 15px 50px;
   transition: 0.1s ease;
   
}

nav a:active {
    background-color: rgb(6, 107, 138);
    color: white;
    transform: scale(0.95);
}

body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: lightcyan;
}